.intro-baner {
    padding: calc(3rem + 6vw) calc(3rem + 6vh);
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-baner:before {
    content: '';
    background-image: url(../../Util/Images/popocatepetl.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--negro-anahuac);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
.concepto-container {
    padding: calc(1rem + 3vw) calc(2rem + 3vh) calc(2.5rem + 3vw) calc(2rem + 3vh);
    background-image: linear-gradient(to bottom, var(--negro-anahuac), var(--naranja-anahuac));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
}
.els-concepto {
    padding-top: 2rem;
    border-top: var(--naranja-anahuac) 1px solid;
    display: flex;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}
.el-concepto {
    padding: 2rem;
    background-color: var(--negro-anahuac);
    flex-basis: calc(100%/3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 600px) {
    .els-concepto {
        flex-direction: column;
    }
}